<%#ヘッダー%>
<%= render partial: "shared/header" %>
<%#//ヘッダー%>

<%#サービス全体%>
<div class="service-content">
  <%#サービスタイトル%>
  <div class="service-titile">
    <p>登録したい事業所の<br>サービスを選択して下さい</p>
  </div>
  <%#//サービスタイトル%>

  <%#サービス一覧%>
  <div class="services">
    <div class="service-lists">
      <div class="service-list">
        <%= link_to new_gh_path do %>
          <%= image_tag "1.png" %>
          <span>共同生活援助</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "2.png" %>
          <span>重度介護訪問</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "3.png" %>
          <span>同行援護</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "4.png" %>
          <span>行動援護</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "5.png" %>
          <span>移動支援</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "6.png" %>
          <span>生活介護</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "7.png" %>
          <span>短期入所</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "8.png" %>
          <span>自立訓練</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "9.png" %>
          <span>就労移行支援</span>
        <% end %>
      </div>
      <div class="service-list">
        <%= link_to "#" do %>
          <%= image_tag "10.png" %>
          <span>就労継続支援A</span>
        <% end %>
      </div>
    </div>
  </div>
  <%#//サービス一覧%>

</div>
<%#//サービス全体%>