<% breadcrumb :items_show, @item %>
<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <% @item.images.each do |image|%>
        <%= image_tag image,class:"item-box-img" %>

        <%# 商品が売れている場合はsold out %>
        <% if @orders.where(item_id: params[:id]).exists? %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
        <% end %>
        <%#// 商品が売れている場合はsold out %>

      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= "¥ #{@item.price.to_s(:delimited)}" %>
      </span>
      <span class="item-postage">
        <%= @item.select_delivery_fee.name %>
      </span>
    </div>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% if user_signed_in? %>
      <% if @item.user == current_user %>
        <% if @orders.where(item_id: params[:id]).exists? %>
        <% else %>
          <%= link_to '商品の編集', edit_item_path(@item), method: :get, class: "item-red-btn" %>
          <p class='or-text'>or</p>
          <%= link_to '削除', item_path(@item), method: :delete, class:'item-destroy' %>
        <% end %>
      <% else %>
        <% if @orders.where(item_id: params[:id]).exists? %>
        <% else %>
          <%= link_to '購入画面に進む', item_orders_path(@item) ,class:"item-red-btn" %>
        <% end %>
      <% end %>
    <% end %>
    <%#//ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span><%= @item.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.select_delivery_fee.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.term.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <%#いいね機能%>
      <div id="favorites_button-<%= @item.id %>">
        <%= render partial: "favorites/favorites", locals: { item: @item } %>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <%#コメント機能%>
  <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@item, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントしましょう！！", class: "comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
          <%= button_tag :type => "submit", class: "comment-btn" do %>
           <i class="fas fa-comments"></i>コメントする
          <% end %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
    <% end %>

      <div class="comments">
        <h4 class="comments-index">コメント一覧</h4>
        <% if @comments.exists? %>
          <% @comments.each do |comment| %>
            <p class="comment-list">
              <%= link_to comment.user.nickname, "http://localhost:3000/users/#{comment.user_id}" %>
              <%= l comment.created_at, class: "comment-time" %><br>
              <%= comment.content %>
            </p>
          <% end %>
        <% end %>
      </div>
  </div>
  <%#コメント機能%>
  
  <div class="links">
    <% if @item.previous.present? %>
      <%= link_to "＜前の商品へ", item_path(@item.previous), class: "scroll-btn" %>
    <% else %>
      &nbsp;
    <% end %>
    <% if @item.next.present? %>
      <%= link_to "次の商品へ＞",item_path(@item.next), class: "scroll-btn" %>
    <% else %>
      &nbsp;
    <% end %>
  </div>
  <a href="#" class='another-item'><%= @item.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>