<%#ヘッダー%>
  <%= render partial: "shared/header" %>
<%#//ヘッダー%>


<%#お気入りリスト%>
<div class="gh-favorite-content">
  <div class="gh-favorite-title">
    <p>お気入り一覧</p>
  </div>

  <%#お気入りリスト一覧%>
  <div class="gh-favorite-lists">
    <% if @gh_favorite_lists %>
      <% @gh_favorite_lists.each do |gh| %>
        <div class="gh-favorite-list">
          <%= link_to  gh_path(gh.id) do %>
            <div class="gh-favorite-list-name">
              <%= "#{gh.name}" %>
            </div>
            <div class="gh-favorite-list-content">
              <div class="gh-favorite-list-content-img">
                <%= image_tag  "koki.png" %>
              </div>
              <div class="gh-favorite-list-content-info">
                <p><%= "#{gh.station}駅から徒歩#{gh.from_station.name}" %></p>
                <p><%= "預り金： #{gh.price.to_s(:delimited)}円" %></p>
                <p><%= "#{gh.residential_style.name}" %></p>
                <p><%= "築年数: #{Date.today.strftime("%Y").to_i - gh.construction_year.to_i}年" %></p>
                <p><%= "情報更新日: #{gh.updated_at.strftime("%Y年%m月%d日")}" %></p>
              </div>
            </div>
          <% end %>

          <div class="gh-favorite-list-contact-form">
            <div class="gh-favorite-list-contact-form-1">
              <%= link_to rooms_path, method: :post do %>
                <i class="fas fa-comments"></i>
                <span>事業者とチャット</span>
              <% end %>
            </div>
            <div id="favorites_button-<%= gh.id %>">
              <%= render partial: "favorites/favorites", locals: { gh: gh } %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%#//お気入りリスト一覧%>

</div>
  <%#//お気入りリスト%>















