<%#ヘッダー%>
<div class="session-header">
  <div class="session-header-main">
    <div class="back-to-home">
      <%= link_to root_path do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
    </div>
    <div class="registration-header-title">
      <p>ログイン画面</p>
    </div>
    <div class="create-room">
    </div>
  </div>
</div>
<%#//ヘッダー%>

<%#ログイン画面%>
<div class="session-new-content">
  <%= form_with model: @user, url: user_session_path, class: "session-new-fields", local: true do |f| %>
    <div class="session-new-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="session-new-field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>


    <div class="session-new-submit">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>
<%#//ログイン画面%>


<div class="registration-new-link">
  <%= link_to "ユーザー新規登録", new_user_registration_path %>
</div>

<div class="password-new-link">
  <%= link_to "パスワードをお忘れの方", new_user_password_path %>
</div>