<%#ヘッダー%>
<div class="room-header">
  <div class="room-header-main">
    <div class="back-to-home">
      <%= link_to root_path do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
    </div>
    <div class="room-header-title">
      <p>フォローリスト</p>
    </div>
    <div class="create-room">
      <%= link_to "/users/follow_list/#{current_user.id}" do %>
        <i class="fas fa-comments"></i>
      <% end %>
    </div>
  </div>
  <div class="room-search">
    <input type="text", placeholder="トークルームを検索">
  </div>
</div>
<%#//ヘッダー%>


<%#フォロー一覧%>
<div class="follow-content">
  <div class="follow-lists">
    <p>チャットしたいメンバーを選んで下さい</p>
    <%#各フォローリスト%>
    <% @users.all_following.each do |user| %>
      <div class="follow-list">
        <%= link_to user_path(user.id) do %>
          <%= image_tag "kaneo.png" %>
          <p><%= user.nickname %></p>   
        <% end %>
      </div>
    <% end %>
    <%#//各フォローリスト%>

  </div>
</div>
<%#//フォロー一覧%>