<%= @user.follow_count %>
<%= link_to "フォロー", {controller: :users, action: :follow_list, user_id: @user.id}, method: :get %>
<%= @user.followers_count %>
<%= link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get %>

<% if current_user.id != @user.id %>
  <%= render 'follow' %>
<% end %>

<% unless @user.id == current_user.id %>
  <% if @isRoom == true %>
    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
    <% end %>
  <% end %>
<% end %>