<%#ヘッダー%>
<%= render partial: "shared/header" %>
<%#//ヘッダー%>

<div class="user-show-content">

  <%#ユーザー顔写真%>
  <div class="user-show-img">
    <% if current_user.image.attached? %>
    <%= image_tag current_user.image %>
    <% else %>
    <%= image_tag "defalut.png" %>
    <% end %>
  </div>
  <%#//ユーザー顔写真%>


  <%#ユーザーニックネーム%>
  <div class="user-show-nickname">
    <%= current_user.nickname %>
  </div>
  <%#//ユーザーニックネーム%>


  <%#ユーザー情報%>
  <div class="user-show-infos">
    <div class="user-show-info">
      <p>メールアドレス</p>
      <p><%= current_user.email %></p>
    </div>
    <div class="user-show-info">
      <p>住所</p>
      <p><%= current_user.email %></p>
    </div>
  </div>
  <%#//ユーザー情報%>

  <%#チャットルームへ%>
  <div class="user-show-chat-room">
    <%= link_to rooms_path do %>
    <i class="far fa-comments"></i>
    <span>チャットルームへ</span>
    <% end %>
  </div>
  <%#//チャットルームへ%>

  <%#お気に入りリストへ%>
  <div class="user-show-favorites">
    <%= link_to favorites_path do %>
    <i class="far fa-star"></i>
    <span>お気に入りリストへ</span>
    <% end %>
  </div>
  <%#/お気に入りリストへ%>

</div>