<footer class="footer-wrapper">
	
	<%#フッターのアイコンたち%>
	<div class="footer-icons">
	<%#フッターのアイコン 会社ロゴ%>
		<div class="footer-logo">
			<%= link_to image_tag("logo.png"), root_path %>
		</div>
	<%#//フッターのアイコン 会社ロゴ%>

	<%#フッターのアイコン SNSロゴ%>
		<div class="sns-icons">
			<%= link_to "https://medicalnote.jp/contents/200901-005-TH"  do %>
				<i class="fab fa-google"></i>
			<% end %>
			<%= link_to "https://twitter.com/elonmusk"  do %>
				<i class="fab fa-twitter"></i>
			<% end %>
			<%= link_to "https://www.instagram.com/gpa.100/?hl=ja"  do %>
				<i class="fab fa-instagram"></i>
			<% end %>
		</div>

	</div>
	<%#//フッターのアイコン SNSロゴ%>

	
	<%#各種問い合わせ%>
	<div class="footer-menu">
		<div class="menu">
			<input type="checkbox" id="type1" class="accordion">
			<label for="type1">サービスについて</label>
			<ul id="links1">
				<li><%= link_to "事業者はこちら", "#" %></li>
				<li><%= link_to "ログイン", "#" %></li>
			</ul>

			<input type="checkbox" id="type2" class="accordion">
			<label for="type2">サポート</label>
			<ul id="links2">
				<li><%= link_to "よくある質問", "#" %></li>
				<li><%= link_to "お問い合わせ", "#" %></li>
			</ul>
		
			<label for="type3">運営会社</label>
			<input type="checkbox" id="type3" class="accordion">
			<ul id="links3">
				<li><%= link_to "会社概要", "#" %></li>
				<li><%= link_to "ブログ", "#" %></li>
			</ul>

			<input type="checkbox" id="type4" class="accordion">
			<label for="type4">カテゴリー別に見る</label>
			<ul id="links4">
				<li><%= link_to "健康・運動", "#" %></li>
				<li><%= link_to "生活・ホーム", "#" %></li>
			</ul>
		</div>


		<%
=begin%>
 <div class="menu-group">
			<%= link_to "サービスについて", class: "group" %>
			<ul>
			</ul>
		</div>
		<div class="menu-group">
			<%= link_to "サポート", class: "group" %>
			<ul>
			</ul>
		</div>
		<div class="menu-group">
			<%= link_to "運営会社", class: "group" %>
			<ul>
			</ul>
		</div>
		<div class="menu-group">
			<%= link_to  "カテゴリー別に見る", class: "group" %>
			<ul>
			</ul>
		</div> 
<%
=end%>
	</div>
	<%#//各種問い合わせ%>

	
	<%#会社名%>
	<div class="footer-company">
		<span>©独立財団法人YUKIPOYO</span>
	</div>
	<%#//会社名%>

</footer>