<%#ヘッダー%>
<%= render partial: "shared/header" %>
<%#//ヘッダー%>

<div class="gh-content">

  <%# 検索フォーム %>
  <%= search_form_for @p, url: search_ghs_path, class: "gh-search-forms" do |f|  %>
    <%#検索項目%>
    <div class="gh-search-form">
      <%= f.label :prefecutre_id_eq, '都道府県' %>
      <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: '指定なし', selected: 27 %>
    </div>
    <div class="gh-search-form">
      <%= f.label :osaka_city_id_eq, '市町村' %>
      <%= f.collection_select :osaka_city_id_eq, OsakaCity.all, :id, :name, include_blank: '指定なし' %>
    </div>
    <div class="gh-search-form">
      <%= f.label :gender_id_eq_any, '同居される方の性別' %>
      <%= f.collection_check_boxes :gender_id_eq_any, Gender.all, :id, :name %>
    </div>
    <div class="gh-search-form">
      <%= f.label :residential_style_id_eq_any, 'ご希望の住居タイプ' %>
      <%= f.collection_check_boxes :residential_style_id_eq_any, ResidentialStyle.all, :id, :name %>
    </div>
    <div class="gh-search-form">
      <%= f.label :barrier_free_id_eq_any, 'バリアフリーの希望' %>
      <%= f.collection_check_boxes :barrier_free_id_eq_any, BarrierFree.all, :id, :name %>
    </div>
    <div class="gh-search-form">
      <%= f.label :use_holiday_id_eq_any, '土日祝の利用' %>
      <%= f.collection_check_boxes :use_holiday_id_eq_any, UseHoliday.all, :id, :name %>
    </div>
    <div class="gh-search-form">
      <%= f.label :gh_service_id_eq_any, 'サービスの種類' %>
      <%= f.collection_check_boxes :gh_service_id_eq_any, GhService.all, :id, :name %>
    </div>
    <div class="gh-search-form">
      <%= f.label :staff_time_id_eq_any, 'スタッフの配置時間帯' %>
      <%= f.collection_check_boxes :staff_time_id_eq_any, StaffTime.all, :id, :name %>
    </div>
    <div class="gh-search-form">
      <%= f.label :from_station_id_eq_any, '最寄り駅から徒歩何分' %>
      <%= f.collection_check_boxes :from_station_id_eq_any, FromStation.all, :id, :name %>
    </div>
    <div class="gh-search-form-submit">
      <%= f.submit '検索' %>
    </div>
    <%#//検索項目%>
  <% end %>
  <%#// 検索フォーム %>
  
  <%# GH事業所一覧 %>

  <%#// GH事業所一覧 %>
  
  
</div>