<%#ヘッダー%>
<%= render partial: "shared/header" %>
<%#//ヘッダー%>


<%# GH詳細統括 %>
<div class="gh-show-content">


  <%# GH事業者編集画面 %>
  <% if user_signed_in? %>
  <% if @gh.user_id == current_user.id %>
  <div class="gh-show-edit">
    <%= link_to "編集する", edit_gh_path(@gh.id) %>
    <%= link_to "削除する", gh_path(@gh.id), method: :delete %>
  </div>
  <% end %>
  <% end %>
  <%# //GH事業者編集画面 %>

  <%# GH名前 %>
  <div class="gh-show-name">
    <p><%= @gh.name %></p>
  </div>
  <%# //GH名前 %>

  <%# GH写真 %>
  <div class="gh-show-img">
    <% @gh.images.each do |image| %>
    <%= image_tag image.variant(resize_to_fill: [512, 512]) %>
    <% end %>
  </div>
  <%# //GH写真 %>


  <%# 問い合わせ %>

  <% if user_signed_in? %>

  <% if @gh.id == current_user.id %>
  <% else %>
  <div class="gh-show-contact-form">
    <div class="gh-show-contact-form-1">
      <% unless @gh.user_id == current_user.id %>
      <% if @isRoom == true %>
      <div class="gh-show-contact-form-2">
        <a href="/rooms/<%= @roomId %>">
          <i class="fas fa-comments"></i>
          事業者へ問い合わせ
        </a>
      </div>
      <% else %>
      <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
      <%= e.hidden_field :user_id, value: @gh.user_id %>
      <i class="fas fa-comments"></i>
      <% end %>
      <%= f.submit "事業者へ問い合わせ", class:"btn btn-primary btn-lg user-show-chat"%>
      <% end %>
      <% end %>
      <% end %>
    </div>

    <div id="favorites_button-<%= @gh.id %>">
      <%= render partial: "favorites/favorites", locals: { gh: @gh } %>
    </div>
  </div>
  <% end %>

  <% else %>
  <div class="gh-show-contact-form">
    <div class="gh-show-contact-form-1">
      <div class="gh-show-contact-form-2">
        <%= link_to user_session_path, local: true do %>
        <i class="fas fa-comments"></i>
        事業者へ問い合わせ
        <% end %>
      </div>
    </div>

    <div id="favorites_button-<%= @gh.id %>">
      <%= link_to "#", local: true, class: "favorite-btn" do %>
      <i class="far fa-star"></i>
      お気に入りに登録
      <% end %>
    </div>
  </div>
  <% end %>

  <%# //問い合わせ %>

  <%# GH預かり金 %>
  <div class="gh-show-price">
    <p><%= "#{@gh.price.to_s(:delimited)}円" %></p>
    <p><%= "（家賃#{@gh.house_rent.to_s(:delimited)}、食費#{@gh.food_expenses.to_s(:delimited)}、日用品費#{@gh.daily_necessities_costs.to_s(:delimited)}、水道光熱費#{@gh.utility_costs.to_s(:delimited)}）" %></p>
  </div>
  <%# //GH預かり金 %>

  <%# 定員 %>
  <div class="gh-show-capacity">
    <p><%= "定員数：#{@gh.capacity}名" %></p>
  </div>
  <%# //定員 %>

  <%# 他情報 %>
  <div class="gh-show-infos">
    <div class="gh-show-info">
      <p>交通</p>
      <p><%= "#{@gh.station}から徒歩#{@gh.from_station.name}" %></p>
    </div>
    <div class="gh-show-info">
      <p>タイプ</p>
      <p><%= "#{@gh.residential_style.name}" %></p>
    </div>
    <div class="gh-show-info">
      <p>築年数</p>
      <p><%= "#{Date.today.strftime("%Y").to_i - @gh.construction_year.to_i}年" %></p>
    </div>
    <div class="gh-show-info">
      <p>TEL</p>
      <p><%= link_to "#{@gh.phone_number}", "tel:" + @gh.phone_number %></p>
    </div>
    <div class="gh-show-info">
      <p>FAX</p>
      <p><%= link_to "#{@gh.fax_number}", "tel:" + @gh.phone_number %></p>
    </div>
    <div class="gh-show-info">
      <p>メール</p>
      <p><%= link_to "#{@gh.email}", "mailto:#{@gh.email}" %></p>
    </div>
  </div>
  <%# //他情報 %>

  <%# 施設説明 %>
  <div class="gh-show-description">
    <p>この物件について</p>
    <p><%= simple_format(@gh.description) %></p>
  </div>
  <%# //施設説明 %>

</div>