<%#ヘッダー%>
<div class="room-header">
  <div class="room-header-main">
    <div class="back-to-home">
      <%= link_to root_path do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
    </div>
    <div class="room-header-title">
      <p>Direct Message</p>
    </div>
    <div class="create-room">
      <%= link_to new_room_path do %>
        <i class="fas fa-comments"></i>
      <% end %>
    </div>
  </div>
  <div class="room-search">
    <input type="text", placeholder="トークルームを検索">
  </div>
</div>
<%#//ヘッダー%>

<%#部屋一覧%>
<div class="room-content">
  <div class="room-lists">
    
    <%#各トークルーム%>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <div class="room-list">
      <%= link_to "#" do %>
        <%= image_tag "kaneo.png" %>
        <div class="room-list-content">
          <span>かねお</span>
          <span>メッセージ内容</span>
        </div>
      <% end %>
    </div>
    <%#//各トークルーム%>

  </div>
</div>
<%#//部屋一覧%>


