<%#ヘッダー%>
<div class="room-header">
  <div class="room-header-main">
    <div class="back-to-home">
      <%= link_to rooms_path do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
    </div>
    <div class="room-header-title">
      <p><%= opponent_user(@room) %></p>
    </div>
    <div class="create-room">
      <%= link_to "#" do %>
        <i class="fas fa-comments"></i>
      <% end %>
    </div>
  </div>
</div>
<%#//ヘッダー%>

<%#トーク画面%>
<div class="talk-room-content">
  <div class="talk-room-lists">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if m.user.nickname == current_user.nickname %>

          <%#トーク（ユーザー側：右側）%>
          <div class="talk-room-list-right">
              <div class="talk-room-list-content">
                <span>
                  <%= m.user.nickname %>
                  <%= m.created_at.strftime("%m/%d %H:%M") %>
                </span>
                <span class="right-content">
                  <%=simple_format(m.content)%>
                </span>
              </div>
              <%= image_tag "kaneo.png" %>
          </div>
          <%#//トーク（ユーザー側：右側）%>

        <% else %>

          <%#トーク（相手側：左側）%>
          <div class="talk-room-list-left">
              <%= image_tag  "kaneo.png" %>
              <div class="talk-room-list-content">
                <span>
                  <%= m.user.nickname %>
                  <%= m.created_at.strftime("%m/%d %H:%M") %>
                </span>
                <span>
                  <%=simple_format(m.content)%>
                </span>
              </div>
          </div>
          <%#//トーク（相手側：左側）%>

        <% end %>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
  </div>
</div>


<div class="talk-room-form">
  <%= form_for @message, class: "contentarea" do |f| %>
    <%= f.text_area :content, class: "textarea", :size => 70 %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <%= f.submit "投稿", class: "submit" %>
  <% end %>
</div>